/* font-family: 'Noto Sans KR', sans-serif; */

/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap'); */



/* 화살표 버튼 설정 
+ transition은 hover 아닌 원본 상태의 태그 부분에 주는것임!!!!!!!!*/
.gototop {
    position: fixed;
    right: 20px;
    bottom: 20px;
}
.gototop .fa {
    font-size: 26px;
    cursor: pointer;

    background-color: #fff;

    /* border: 1px solid lightgray; */
    width: 50px;
    height: 50px;

    border-radius: 50%;

    /* 수평의 중앙 */
    text-align: center;
    /* 수직의 중앙 */
    line-height: 50px;

    /* 애니메이션 */
    transition: 0.3s ease-in-out; 
}
.gototop .fa:hover {
    background-color: #000;
    color: #fff;
}


/* header 설정 부분!!!!! */
header {
    background-color: crimson;

    /* header안에 있는 inline 컨텐츠들을 중앙으로오게하는 방법
    =>> height 값만큼 line-height 값을 똑같은 값으로 설정해주기!!! */
    height: 90px;
    line-height: 90px;


    /* position fixed나 absolute를 사용하게 되면 
    div태그의 width값을 잃게 되므로
    이럴 때는 width:100%값을 꼭 입력해주어야 한다!!! 
    fixed는 스크롤해도 고정!! absolute는 미고정!!*/
    position: fixed;
    width: 100%;

    /* position-fixed설정의 기본값!! */
    left: 0;
    top: 0;
}

/* nav 설정 부분!!!! */
nav {
    /* border: 1xp solid; */
    width: 1100px;
    margin: 0 auto;
}
nav .logo {
    float: left;
    padding-top: 20px;
}
nav .logo img {
    height: 45px;
}
nav .navi {
    float: right;
    /* border: 1px solid white; */
}
nav .navi a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;

    /* 글자사이의 공간 */
    margin: 7px;
}



/* container 설정 부분 */
.container {
    /* border: 1px solid; */
}


/* section 관련 설정 부분 */
section {
    clear: both;

    /* 클릭후 제목 보이는 높이 설정 */
    padding-top: 50px;
}

section .inner {
    /* border: 1px solid; */
    width: 1100px;

    /* block 요소에만 적용 된다! */
    margin: 0 auto;

    padding: 50px 0;
    text-align: center;
}

/* section:nth-child(odd) {
    background-color: #f4f4f4;
}
section:nth-child(even) {
    
} */

/* 이렇게 작성한 내용이 정석!!!!!!! */
section:nth-of-type(even) {
    background-color: #fafafa;
}

section h2 {
    font-weight: normal;
    font-size: 36px;
}



/* Section : Welcome 설정 부분 */
section.welcome h1 {
    padding: 80px 0;
    font-size: 46px;
    font-weight: normal;

    cursor: default;
}

.donwload__spec a {
    display: block;
    background-color: dodgerblue;
    width: 170px;
    color: #fff;
    text-decoration: none;
    padding: 7px;
    border-radius: 3px;
    

    /* block요소 가운데 정렬 속성! */
    margin: 10px auto;
}
.donwload__spec span {
    display: block;
}

section.welcome img {
    margin-top: 20px;
}


/* section (2) - usage */
section.usage {

}
section.usage .sub__inner {
    /* border: 1px solid; */
    width: 800px;
    margin: 0 auto;

    /* 해결방법 - 높이값 잃어버린것을 찾아주기 */
    overflow: hidden;
}


/* 방법(1) 여기에 float:left쓰고 
이로인하여 올라오는 continue 부분에 clear:both; 사용 
방법(2)로는 section {clear:both;} 이렇게 전체적으로 설정!!*/
section.usage .sub__inner div {
    /* border: 1px solid; */
    width: 400px;
    float: left;
    box-sizing: border-box;
    padding: 15px;

    /* display: inline-block; */
}



/* section (3) - continue */
section.continue p {
    /*방법(1) */
    /* width: 800px;
    margin: 0 auto; */


    /*방법(2)*/
    padding: 0 100px;
}
section.continue img {
    margin-top: 50px;
}


/* section (4) - create */
section.create p {
    /*방법(1) */
    /* width: 800px;
    margin: 0 auto; */


    /*방법(2)*/
    padding: 0 100px;
}
section.create img {
    margin-top: 50px;
}

/* section (5) - download */
section.download .inner div {
    /* border: 1px solid; */
    
    /* 이부분 2가지 설정 중요!! */
    display: inline-block;
    vertical-align: middle;

    height: 400px;

    
} 
section.download {
    padding-top: 80px;
}



.trigger {
    display: none;
}

/* 푸터 - footer 설정 부분! */
footer {
    
}

.links {
    background-color: #eee;
}
.links div {
    /* border: 1px solid; */
    width: 1100px;
    margin: 0 auto;

    padding: 20px 0;
}
.links div ul {
    /* border: 1px solid; */
    list-style: none;


    /* float:left 대신에 이거 사용!! */
    display: inline-block;
    width: 19.5%;
    /* 100% / 5개 ul 그런데 조금만큼의 margin이 있으므로 20%
    다주지말고 19%나 19.5%로 설정해주기!*/

    /* 높이맞추기 위해 적용!1 */
    vertical-align: top;


    /* ul태그는 기본적으로 왼쪽 빈공간의 값이 생기므로 없애주려면 이렇게 작성!*/
    padding-left: 0;

    font-size: 13px;
    text-transform: capitalize;
}
.links div ul li a {
    text-decoration: none;
    color: #333;
}
.links div ul li a:hover {
    color: #777;
}



.copyright {
    background-color: #333;
    color: #999;
    text-align: center;

    line-height: 50px;
    height: 50px;

    font-size: 13px;
}






/*(1)만약에 float:left width:550px 일 때 반응형으로 바꿀려면
==> float:none 
==> width:100% 로 변경해줘야 함!!

(2)display: inline-block; width:550px 일 때 반응형으로 바꿀려면
==> display:block;
==> width:100%로 변경해줘야 함!!!
*/

/* 반응형 웹 사이트 작업!!! */
/* (1) - 모바일 사이즈 */
@media (max-width:768px) {
    header {
        height: 50px;
        line-height: 35px;
    }
    header nav {
        width: 100%;
    }
    .logo {
        padding-top: 15px;
    }
    .logo img {
        height: 30px;
        margin-top: -15px;
        margin-left: 10px;
    }
    .navi {
        background-color: #000;
        float: none;
        position: absolute;
        top: 50px;
        /* position: absolute;를 설정해주었으므로! */
        width: 100%;   

        /* 이사이즈로 변경되었을 때 navi 부분이 펼쳐져있으면 안되므로 */
        height: 0;
        overflow: hidden;
        transition: 0.3s ease-in-out;
    }
    .navi a {
        display: block;
        font-size: 14px;
        border-bottom: 1px solid #444;
    }
    /* 메뉴 부분의 맨마지막부분의 border값 없애기 위해! */
    .navi a:last-child {
        border-bottom: none;
    }
    
    /* Bullet 아이콘 넣는 부분! 
    가상컨텐츠를 활용하여 작성!!*/
    .navi a::before {
        content: '\f105';
        font-family: 'fontawesome';
        margin-right: 10px;
        margin-left: 10px;
        color: #999;
    }

    /* active 되었을때 nav메뉴의 높이값을 200px로 설정!! */
    .navi.active {
        height: 220px;
    }


    /* 트리거 */
    .trigger {
        display: block;
        position: absolute;
        right: 10px;
        font-size: 22px;
        color: #fff;
        top: 5px;
    }




    section .inner {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }
    section .inner img {
        width: 100%;
    }
    section.usage .inner .sub__inner {
        width: 100%;
    }
    section.usage .inner .sub__inner div {
        float: none;
        width: 100%;
    }

    section.create p,
    section.continue p {
        padding: 0;
    }

    section.welcome h1 {
        font-size: 36px;

        /* 줄바꿈을 위해! */
        line-height: 1.2em;
    }
    section h2 {
        font-size: 26px;
        line-height: 1.2em;
    }

    footer .links {
        display: none;
    }
} 