/*##### Reset css 설정 #####*/
@charset "utf-8";

* {
  box-sizing: border-box;
  /* 이부분 설정하면 bar 부분 중앙값 안맞음 */
  /* margin: 0;
  padding: 0; */
  outline: none;
}

a {
  text-decoration: none;
  color: #333;
}
button,input {
  outline: none;
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  font-weight: normal;
  line-height: 1.5em;
}