@charset "utf-8";


/* 구글 폰트 설정 부분 */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0px solid silver;
  }

  img {
    width: 100px;
  }

  body {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    line-height: 1rem;
    color: #999;
    letter-spacing: 0.1px;
  }
  
  h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
  }
  
  h1 {
    font-size: 4rem;
    line-height: 4rem;
    text-transform: uppercase;
  }
  
  h2 {
    font-size: 2.4rem;
    line-height: 2.4rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
  
  h3 {
    font-size: 1.4rem;
    line-height: 1.4rem;
  }
  
  h4, h5 {
    font-family: 'Playfair Display', serif;
  }
  
  h4 {
    font-size: 1.1rem;
    line-height: 1.1rem;
  }
  
  h5 {
    font-size: 0.7rem;
    line-height: 0.7rem;
  }
  
  a:link { color: #666; text-decoration: none;}
  a:visited { color: #666;}
  a:hover { color: red;}
  a:active { color: red;}
  
  button {
    font-size: 0.7rem;
    text-transform: uppercase;
    padding: 10px 30px;
    border: 1px solid #ccc;
    background: white;
    transition: 0.3s;
    transition: all 0.8s;
  }
  
  /* button:hover {
    background: crimson;
    color: white;
    cursor: pointer;

    transition: all 0.8s;
  } */